a {
    font-size: 40px;
}

.first {
    font-size: 80px;
}

.navbar-item {
    display: inline-block;
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: rgba(194, 36, 30, 0.62);
}

.fleximg {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;

}

.singleimg {
    margin: 20px;

}

.navimg {
    height: 350px;
    color: azure;
    font-size: 80px;
    background-image: url(../RES/pic1.png);
}

input {
    display: block;
}

#text {
    height: 200px;
    width: 400px;
}

#singleimg1 {
    background-image: url(../RES/pic2.png);
    width: 260px;
    align-items: center;
    height: 150px;
}

.singleimg:hover {
    opacity: 0.5;
}

#btn1 {
    margin-top: 50px;
}

#singleimg2 {
    background-image: url(../RES/pic3.png);
    width: 260px;
    height: 150px;
    align-items: center;
}

#btn2 {
    margin-top: 50px;
}

#singleimg3 {
    background-image: url(../RES/pic4.png);
    width: 260px;
    align-items: center;
    height: 150px;
}

#btn3 {
    margin-top: 50px;
}

#singleimg4 {
    background-image: url(../RES/pic5.png);
    width: 260px;
    align-items: center;
    height: 150px;
}

#btn4 {
    margin-top: 50px;
}

#singleimg5 {
    background-image: url(../RES/pic6.png);
    width: 260px;
    align-items: center;
    height: 150px;
}

#btn5 {
    margin-top: 50px;
}

#singleimg6 {
    background-image: url(../RES/pic7.png);
    width: 260px;
    align-items: center;
    height: 150px;
}

#btn6 {
    margin-top: 50px;
}

#singleimg7 {
    background-image: url(../RES/pic8.png);
    width: 260px;
    align-items: center;
    height: 150px;
}

#btn7 {
    margin-top: 50px;
}

#singleimg8 {
    background-image: url(../RES/pic9.png);
    width: 260px;
    align-items: center;
    height: 150px;
}

#btn8 {
    margin-top: 50px;
}



#myModal {
    display: none;
}

.singleb {
    display: none;
}